[submodule "themesterminal"]
	path = themes/terminal
	url = https://github.com/asongtoruin/hugo-theme-terminal
[submodule "public"]
	path = public
	url = https://github.com/asongtoruin/asongtoruin.github.io.git
